.App{
    max-width: 1700px;
    margin: 0% auto;
    background: linear-gradient(90deg, rgba(106,124,121,0.969625350140056) 10%, rgba(74,84,83,1) 23%, rgba(60,74,66,0.01) 38%, rgba(41,47,43,0.9976365546218487) 50%, rgba(79,88,99,0.8323704481792717) 61%, rgba(86,111,102,0.2189250700280112) 74%, rgba(106,136,119,0.17690826330532217) 88%);
   
}
